<!-- each category page -->
{% if page.type %}
{% assign category_key = page.category_key | default: page.type %}
{% assign category_posts = site.categories[category_key] %}
{% assign category_pages = site.pages | where: "parent_category", page.type %}
{% assign parent_pages = site.pages | where: "type", page.parent_category %}
{% assign parent_page = parent_pages | first %}
<div class="archive">
  {% if page.parent_category and parent_page %}
  <a class="archive_parent_button" href="{{ parent_page.url | relative_url }}">&larr; {{ page.parent_category }}</a>
  {% endif %}
  <p class="archive_type">{{ page.type }}</p>
  <div class="archive_sections">
  {% if category_pages.size > 0 %}
  <div class="archive_pages">
    <div class="archive_page_buttons">
      {% for child_page in category_pages %}
      {% assign child_key = child_page.category_key | default: child_page.type %}
      {% assign child_posts = site.categories[child_key] %}
      <a class="archive_page_button" href="{{ child_page.url | relative_url }}">
        <span>{{ child_page.type }}</span>
        <small>{{ child_posts.size | default: 0 }} posts</small>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if category_posts.size > 0 %}
  <ul class="archive_posts">
    {% for post in category_posts %}
    {% if post.url %}
    <li>
        <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
        <div class='archive_title'>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>

<!-- main page -->
{% else %}
<div class="archive">
  {% for post in site.posts %}
  {% unless post.next %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nextyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nextyear %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% endif %}
  {% endunless %}

  <ul>
    <li>
      <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
        {{ post.date | date: "%b %d" }}
      </time>
      <div class='archive_title'>
        <a href='{{ post.url | relative_url }}'>
          {{ post.title | escape }}
        </a>
      </div>
    </li>
  </ul>
  {% endfor %}
</div>
{% endif %}