<header class="header">

  <div class="header_content">
    <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a>
    <span class="header_name">{{ site.user.name }}</span>
    <span class="header_job">{{ site.user.job }}</span>
    <span class="header_mes">{{ site.user.message }}</span>

    <nav class="nav">
      {% if site.user.aboutme %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ '/aboutme/' | relative_url }}">about</a>
        </li>
      </ul>
      {% endif %}
      {% assign category_pages = site.pages | where_exp: "page", "page.path contains 'categories/'" %}
      {% assign top_category_pages = category_pages | where_exp: "page", "page.parent_category == nil" %}
      {% for category_page in top_category_pages %}
      {% assign cat_name = category_page.type %}
      {% assign cat_link = category_page.permalink | default: category_page.url %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ cat_link | relative_url }}">{{ cat_name }}</a>
        </li>
      </ul>
      {% endfor %}
    </nav>
  </div>

</header>

