<nav class="mobile_menu">

  <ul class="nav_list">
    {% if site.user.aboutme %}
    <li class="nav_item">
      <a href="{{ site.baseurl }}/aboutme.html">about</a>
    </li>

    {% endif %}
    {% assign category_pages = site.pages | where_exp: "page", "page.path contains 'categories/'" %}
    {% assign top_category_pages = category_pages | where_exp: "page", "page.parent_category == nil" %}
    {% for category_page in top_category_pages %}
    {% assign cat_name = category_page.type %}
    {% assign category_key = category_page.category_key | default: cat_name %}
    {% assign category_posts = site.categories[category_key] %}
    <li class="nav_item">
      <a href="{{ category_page.url | relative_url }}" id="aa">{{ cat_name }} ({{ category_posts.size | default: 0 }})</a>
    </li>
    {% endfor %}
  </ul>

</nav>