<nav class="mobile_menu">

  <ul class="nav_list">
    {% if site.user.aboutme %}
    <li class="nav_item">
      <a href="{{ '/aboutme/' | relative_url }}">about</a>
    </li>

    {% endif %}
    {% assign category_pages = site.pages | where_exp: "page", "page.path contains 'categories/'" %}
    {% assign top_category_pages = category_pages | where_exp: "page", "page.parent_category == nil" %}
    {% for category_page in top_category_pages %}
    {% assign cat_name = category_page.type %}
    {% assign cat_link = category_page.permalink | default: category_page.url %}
    <li class="nav_item">
      <a href="{{ cat_link | relative_url }}">{{ cat_name }}</a>
    </li>
    {% endfor %}
  </ul>

</nav>